
<div class="row">
<div class="col-md-3">
<h2 class="username"><%= if @user.first_name.empty? then ' '  else @user.first_name end  + ' ' + if @user.last_name.empty? then ' ' else @user.last_name end %></h2>
<br>
  <img src=" <%= @user.profile_image %>" class="img-circle">
  <div class="social">
    <%= link_to '<i class="fa fa-facebook-square fa-2x"></i>'.html_safe,  'http://facebook.com/' + @user.facebook if @user.facebook.present? %>
    <%= link_to '<i class="fa fa-twitter-square fa-2x"></i>'.html_safe, 'http://twitter.com/' + @user.twitter if @user.twitter.present? %>
    <%= link_to '<i class="fa fa-pinterest-square fa-2x"></i>'.html_safe, 'http://pinterest.com/' + @user.pinterest if @user.pinterest.present? %>
    <%= link_to '<i class="fa fa-instagram fa-2x"></i>'.html_safe, 'http://instagram.com/' + @user.instagram if @user.instagram.present? %>
    <%= link_to '<i class="fa fa-linkedin-square fa-2x"></i>'.html_safe, 'http://linkedin.com/' + @user.linkedin if @user.linkedin.present? %>
</div>
<br>
  <p><%= @user.description %></p>
  <div class="row">

 <!-- <div class="followers">
      <div class="col-md-6">
          <h3>Followers</h3>
          <h3>52</h3>
        </div>
        <div class="col-md-6">
          <h3>Following</h3>
          <h3>0</h3>
      </div>
    </div> -->
  </div>
  <hr />
  <div class="social">
    <a class="btn btn-primary btn-block"><span class="glyphicon glyphicon-plus"></span> Follow</a>
    <a class="btn btn-default btn-block"><span class="glyphicon glyphicon-share"></span> Share</a>
  </div>
</div>
<div class="col-md-8 col-md-offset-1">
<h3>Podcasts by me</h3>
<ul class="podcast-profile">
  <% @podcasts.each do |podcast| %>
    <% if podcast.user == @user %>
      <li class="well col-md-4">
      <%= link_to image_tag(if podcast.image_url.blank? then podcast.image else podcast.image_url end) + '', podcast %><br>
        <h4><%= podcast.name %></h4>
          <% if podcast.user == current_user %>
          <%= link_to 'Edit',  edit_podcast_path(podcast), class: 'btn btn-warning' %>
          <%= link_to 'Delete', podcast, class: 'btn btn-danger' ,method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
      </li>
      <% end %>
    <% end %>
    </ul>
    <hr style="clear:both;" />      
    <div class="tab-info">
    <ul id="tabs" class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">About</a></li>
      <li><a href="#profile" data-toggle="tab">Education</a></li>
      <li><a href="#work" id="tab" data-toggle="tab" >Work</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="home">
        <p><%= @user.about %></p>
      </div>
      <div class="tab-pane fade" id="profile">
        <p><%= @user.education %></p>
      </div>
      <div class="tab-pane fade" id="work">
        <p><%= @user.work %></p>
      </div>
    </div>
    </div>
</div>
</div>
<br>



